[2011-07-27 15:07] garrett opened #1 "Bounce on move"
When an item is moved, the wall grid bounces

[2011-07-27 18:15] cthiel opened #2 "Add name tags to stories"
@dmajda suggested to add name tags to stories, so that you can see who is involved with a story.

[2011-07-27 18:24] garrett commented on #2
Good idea

[2011-07-27 18:25] cthiel commented on #2
I'll take care of the of backend. Can you do the styling?

[2011-07-27 18:26] garrett opened #3 "Port to HAML"
HAML is nicer, Should we port?

html2haml should do most of the erb migration.

[2011-07-27 18:27] garrett commented on #2
Sure!

[2011-07-27 18:29] cthiel commented on #3
Go!

[2011-07-27 18:31] garrett opened #4 "Switch to jQuery UI sortables"
I think this draggable library we're using is quite a bit buggy. We'll either need to fix it up ourselves or port to jQuery UI's dragglables, unless there's a newer version available.

What do you think?

[2011-07-27 18:32] garrett commented on #3
I'm not the Ruby guy... (:

I tried and it didn't load. Perhaps HAML needs to be enabled somehow?

[2011-07-27 18:34] cthiel commented on #3
OK, will enable it right away :)

[2011-07-27 18:35] cthiel commented on #4
Sure, it shouldn't be a big deal, I guess? From just looking at http://jqueryui.com/demos/draggable/ it seems to offer the events we need to get the database updated. Want to go for it?

[2011-07-27 18:37] garrett commented on #3
Okay, I've programatically ported all the ERB to HAML in the haml-port remote branch. We can see if it works and fix whatever broke (if anything).

[2011-07-27 18:38] garrett commented on #4
Yeah, I may. I was holding off, but it probably won't be hard to do at all. It will most likely provide a much nicer experience, so it should be worth it.

[2011-07-27 18:41] garrett opened #5 "New name?"
We've deviated so much from the previous versions of simplekanban we may want to consider renaming the project (or at least augment the name). Perhaps not-quite-as-simple-kanban? (:

We could also try to offer our work back upstream too.

[2011-07-27 18:53] cthiel commented on #3
OK, things are fixed in the haml-port branch. Feel free to merge to master.

[2011-07-27 19:09] cthiel commented on #5
+1! Do you have a naming suggestion? I'll think about...

[2011-07-27 19:11] cthiel commented on #2
OK, the code is in master now. stories.json has it as tag_list. It just needs to get added to the board. I'll leave that up to you :)

[2011-07-27 19:22] cthiel commented on #3
It's merged into master now.

[2011-07-27 19:22] #3 closed, assigned to nobody

[2011-07-27 19:25] cthiel opened #7 "Testsuite needed"
We need some simple tests!

[2011-07-27 19:27] garrett commented on #3
I was fixing merge commit issues... and then they disappeared and I was really confused. Now I know why! (:

Glad it's done. (;

[2011-07-27 19:28] garrett commented on #2
Okay, nice.

I noticed that I had to do a rake db:migrate when things didn't show up as expected.

[2011-07-27 19:29] cthiel commented on #2
Ah, sorry, I forgot to mention that. Also you had to run "bundle" again, right?

[2011-07-27 19:29] garrett commented on #7
:+1:

[2011-07-27 19:31] garrett opened #8 "Update notification for multi-user edits"
...or for when one person edits and another is viewing.

In other words, we need polling and updating.

[2011-07-27 19:32] garrett commented on #2
Yes, I did. I forgot to mention that too. (:

[2011-07-27 19:32] garrett opened #9 "Double-click inline editing"
It would be nice to edit each story inline.

[2011-07-27 19:34] garrett commented on #9
As kind of a hack, we could even load the edit page and only display part of it inline via jQuery. I think it might actually work well enough, really... and we'd only have the code in one place. It would keep things simple.

[2011-07-27 19:36] garrett commented on #8
I suppose we could poll the server every so often and ask for the latest state, in JSON and notify if it has changed (and then ask the user if they want to update to the latest version).

If nothing has changed on the client side (but there have been changes on the server), then automatically update.

If the state is dirty (as if the user declined the updated changes), we'd have to ask if they wou

[2011-07-27 19:50] garrett opened #10 "favicon"
There's no favicon. It needs one.

[2011-07-27 19:51] garrett opened #11 "Tablet & other touch device (phone) support?"
It might be nice. Not currently on the radar, just noted for future work.

It would probably be fantastic for meetings. (Or we can ensure that the software just works _very well_ with projectors.)

[2011-07-27 20:35] cthiel commented on #7
OK, we have some basic testing with commit bb5f66880168ac8e6945.

[2011-07-27 20:35] #7 closed, assigned to nobody

[2011-07-27 20:38] garrett opened #12 "Design step missing"
There's no design step in Kaban.

Where is it? Should it be there instead of Analysis? ...or how does this work? (:

[2011-07-27 20:39] garrett commented on #4
I decided sortables (not dragables & dropables together) would be the right fit for us. I now have it working and am getting ready to commit soon.

[2011-07-27 20:47] cthiel commented on #8
I added /stories/last_changed.json for now, which returns a json object with the timestamp of the last changed story. Do you need more from the backend to check this in JS?

We could as well look into websockets, but that would probably be overkill for now.

[2011-07-27 20:48] cthiel commented on #12
That's up the user? Just remove the Analysis from the Statuses and add Design? We could also just change db/seed.rb to include whatever we find useful.

[2011-07-27 20:49] cthiel commented on #11
:+1:

[2011-07-27 20:49] cthiel commented on #9
Either inline or just redirect to the edit url for now?

[2011-07-27 20:50] cthiel commented on #4
Awesome!

[2011-07-27 21:13] garrett commented on #12
Yes, I know the user can change it. We should change the default. (:

[2011-07-27 21:14] garrett commented on #9
It can just pull the page. jQuery can fetch a page and only display part of it (you specify fetching the page with a hash and it will return just the contents of that ID). Then, just display it in a popup and dismiss it at the same time as an ajax post.

[2011-07-27 21:17] garrett commented on #4
Done! Merged! Try it out! It fixes a few bugs and provides direct feedback where the item will be dropped.

[2011-07-27 21:17] #4 closed, assigned to nobody

[2011-07-27 21:18] garrett commented on #1
Fixed during move to jQuery UI sortable.

[2011-07-27 21:18] #1 closed, assigned to nobody

[2011-07-27 21:19] cthiel commented on #4
Sweet! Works great for me!

[2011-07-27 21:20] garrett commented on #4
:+1: Awesome!

git + github is really a great way to collaborate, isn't it? (:

[2011-07-27 21:22] cthiel commented on #4
It really is! :sparkles: :sparkles: :sparkles:

[2011-07-27 21:26] cthiel commented on #12
Fixed by commit fd7e1dbcb43ffd30b879.

[2011-07-27 21:30] garrett commented on #12
Awesome! Thanks!

[2011-07-27 21:30] cthiel commented on #8
Maybe using HTTP 304 (not modified) would also be an option? I could easily set that for the stories.json. Let's discuss this tomorrow.

[2011-07-27 21:31] garrett commented on #12
Wait. Is it at the end? It should be at the beginning. (...or perhaps when I update it, it just stuck it at the end?)

[2011-07-27 21:32] garrett commented on #8
Yup. That makes sense.

[2011-07-27 21:33] cthiel commented on #12
Yep, I think so! Just go ahead and delete db/development.db and try again.

[2011-07-27 21:33] garrett commented on #12
Perhaps design should go after product mgt and before development ready? I guess right after analysis?

[2011-07-27 21:44] cthiel commented on #12
With the latests seeds.rb we would end up with:

[code]

Do you think we also need Analysis, and if so, at which stage? Before or after Design?

[2011-07-27 22:10] garrett commented on #12
Do we need ProductMgmt? Should it be "Incoming" or something? We could either overload an "Incoming" concept with Analysis too, or squeeze it in the middle. If we have fewer columns, I think it would help us visualize things better.

[code]

So, in this setup, Incoming would be items that are coming from Product Management and elsewhere, and during that stage they are discussed (and analyzed). The

[2011-07-28 09:32] cthiel commented on #9
Just added stories/1/edit.js that returns just the form, which could be shown inside a jquery ui modal dialog.

[2011-07-28 11:46] cthiel commented on #8
It now has http 304 based caching for the /stories.json and /status.json. So we can easily pull for changes in the JS?

[2011-07-28 12:20] cthiel commented on #2
Fix in commit f03f897ca5d7fe359aaf

[2011-07-28 12:20] #2 closed, assigned to garrett

[2011-07-28 12:39] bkutil opened #13 "Filtering by tags and filter bookmarks"
Two nice to have features:

1) filter and display only stories with a certain tag, e.g. belonging to a specific user, related to project etc...

2) bookmark such filters under certain name, e.g. 'my tasks'

[2011-07-28 13:05] cthiel opened #14 "Multiple Wall Support?"
We should consider adding support for multiple walls?

[2011-07-28 13:07] cthiel opened #15 "Support importing stories from CSV"
We should add support for importing new stories from CSV

[2011-07-28 13:10] cthiel commented on #12
I think we should stay with what we have right now in the seeds, which is:

[code]

If the user chooses not to run "rake db:seed", he will be able to decide what he wants his Kanban setup to look like.

[2011-07-28 13:10] #12 closed, assigned to nobody

[2011-07-28 13:11] bkutil commented on #14
I think one wall emphasizes focus on one 'project'. Also, setting up multiple kanban apps takes way less time and effort.

[2011-07-28 13:16] cthiel commented on #10
How about a sticky note icon? http://www.iconfinder.com/search/?q=sticky

[2011-07-28 13:47] cthiel commented on #9
This is just a simple hack, you can make it much nicer, I guess!

[2011-07-28 17:28] garrett commented on #14
Setting up multiple apps means we should make customizing the &lt;h1&gt; quite easy, so one can differentiate each instance at a glance.

[2011-07-28 21:03] garrett commented on #9
:sparkles: Done and _done!_ :sparkles:

Be sure to check out all the goodness I've added. I think it's quite slick now.

[2011-07-28 21:03] #9 closed, assigned to garrett

[2011-07-28 22:59] garrett commented on #8
_Awesome._

Check out the _collab_ branch and play around with two windows open.
- The update tick is roughly every 5 (or so) seconds
- It pauses the updates when the mouse is moved or a dialog is open (this is intentional)
- It does not update the color CSS file (yet) — so if you modify colors, it won't do a live update
- We need more dialogs, to prevent users from overwriting data
- Currently, i

[2011-07-29 10:16] cthiel opened #16 "jQuery UI images shouldn't be in assets/images/images"
See commit 25fdf474c8c475cf44d7 for details.

[2011-07-29 10:17] cthiel commented on #8
Great stuff! I tried it locally and it worked nicely :)

[2011-07-29 11:32] cthiel opened #17 "Versioning"
We should keep track of what is changing, so we can look at statistics.

[2011-07-29 11:33] cthiel commented on #17
I'll code up the versioning based on https://github.com/laserlemon/vestal_versions

[2011-07-29 11:37] cthiel commented on #14
When discussing with @cornelius over lunch, he requested having multiple rows.

[2011-07-29 11:40] cthiel opened #18 "Adding references to stories"
It would be nice to be able to have one or many references (e.g. links to bugzilla or etherpad) attached to a story and link them from the Wall.

[2011-07-29 11:58] cthiel commented on #17
Using paper-trail & undo would also be an option! http://railscasts.com/episodes/255-undo-with-paper-trail

[2011-07-29 12:01] cthiel commented on #8
Merged!

[2011-07-29 12:01] #8 closed, assigned to garrett

[2011-07-29 13:19] #16 closed, assigned to nobody

[2011-07-29 14:39] cthiel opened #20 "acts-as-taggable-on has issues"
- acts-as-taggable-on has DEPRECATION WARNING: class_inheritable_attribute is deprecated, please use class_attribute method instead. Notice their behavior are slightly different, so refer to class_attribute documentation first. (called from /home/cthiel/devel/simplekanban/app/models/story.rb:5)
- acts-as-taggable-on is kind of broken on heroku, see https://github.com/mbleigh/acts-as-taggable-on/pu

[2011-07-29 20:57] cthiel opened #21 "Adding new stories inline"
It would be cool if it was possible to add new stories via double-clicking in statuses colums, just like we do with editing them.

What do you think, @garrett?

[2011-07-29 21:35] garrett commented on #21
I think it would be nice.

I was actually thinking about this earlier today, and was thinking about a button on the page.

Do you think that double-clicking on the empty space would be obvious, and wouldn't be a misclick? If double-clicking on the page creates a new popup, we had better respect on which column the item was double-clicked on.

New and edit are almost the same thing. Are they simila

[2011-07-29 21:39] cthiel commented on #21
New and edit are very simliar in the Ruby code as well. You should have to call to /stories/new and if we go for double-clicking into the page, just make sure to preselect the right option in the dropdown (by id of the status column). The select input has the id "story_status_id". The value of each option is almost identical to the id of the status ul's (just replace('status','') to get the id :))

[2011-07-29 21:41] cthiel commented on #21
And yes, I think double-clicking into the page is kind of obvious. In addition to that we could also add a link or descriptive text below? Something like "to create or edit stories double-click into the status columns".

[2011-07-30 17:30] garrett commented on #21
Feature added in commit f32dadd840c5dfbe5bc0!

[2011-07-30 17:30] #21 closed, assigned to nobody

[2011-07-31 00:27] garrett commented on #5
It's kind of silly, but here's a name that might work: _"Kandoit", pronounced "can do it", borrowing the "kan" from "kanban" and helping you to keep track whatever it is you're trying to get done._

Or perhaps Kantrackit? Or just Kantrack? Although if it's kantrack, it looks like "can't rack".

[2011-07-31 15:29] garrett opened #22 "Offline detection"
We should have support for detecting when the server is unreachable.

[2011-07-31 15:30] garrett opened #23 "Offline support"
Similar to issue #22, we could think about offline support, where changes can be queued up and saved if the server or client might be offline. This would require more work, however, and could overwrite changes made elsewhere.

[2011-07-31 15:33] garrett commented on #11
I did look into this and started making it work on my iPad. However, it was view-only and a little buggy. It mostly works as-is now, though... but I'd like to make it better.

It is nifty to see the stories update after changing it on the laptop, though. (:

[2011-08-01 12:03] cthiel opened #24 "Make ordering persist"
Let's make sure that dragging works more correct.

[2011-08-01 12:06] cthiel opened #25 "Add more sample data"
We should have more sample seeds.

[2011-08-01 19:14] garrett commented on #5
James Mason said it's just cards on a board... "cardboard" (:

Of course, it would be impossible to Google, unless we misspelled it on purpose, like kardboard (but that looks KDE-related).

[2011-08-01 19:50] cthiel commented on #5
"cardboard" sounds good! I like it :)

[2011-08-01 20:00] cthiel commented on #11
Does dragging work for you? It didn't for me on my iPhone :)

[2011-08-01 21:08] garrett commented on #11
No, that's what I meant by "view-only" for the iPad. I need to fix it somehow.

[2011-08-01 21:10] garrett commented on #5
:+1:

[2011-08-01 21:21] cthiel commented on #25
Fixed by James Mason.

[2011-08-01 21:21] #25 closed, assigned to nobody

[2011-08-01 21:23] garrett commented on #5
So are we all in agreement?

Should we go ahead and switch?

Should we fork it into a new repo and push to that and update the README here to point to that? (If we don't, then the URL will completely break... but does that matter yet?)

[2011-08-01 21:25] cthiel commented on #5
Just rename should be fine I guess? It's not been publicized much so far, right?

[2011-08-01 21:28] cthiel commented on #5
Also we would be able to keep the Issues around.

[2011-08-01 21:36] garrett commented on #5
Ah, good point. Yeah, let's just rename. Simpler.

[2011-08-02 08:14] cthiel commented on #5
Done! Thanks for the naming suggestions @garrett and @bear454.

[2011-08-02 08:14] #5 closed, assigned to nobody

[2011-08-02 09:17] garrett commented on #5
You might want to de-kanban-ify the description, as it can be used for more things than just kanban.

Of course you might want to still mention it, but also mention that it can be used for card sorting, and tracking anything.

This will be especially more true once we implement more of a dynamic UI for groups.

[2011-08-02 09:23] garrett opened #27 "import/export"
We should support an import & export feature.

I imagine it would be a snapshot of what's currently represented by the board, in JSON.

[2011-08-02 09:25] garrett opened #28 "easy category addition, removal, & renames"
There should be a contextual way to add, remove, and rename categories.

[2011-08-02 10:26] cthiel commented on #5
Done.

[2011-08-02 10:33] cthiel opened #29 "Remove code from Status"
It's only used in an obscure way to styling the heading of statuses.

[2011-08-02 10:36] cthiel opened #30 "Add "manage" link"
We need a way to e.g. set a heading and/or edit stories and statuses the old way (e.g. from iPhone)?

[2011-08-02 12:36] garrett commented on #29
It can be auto-generated, if it's just for making IDs or whatnot. I don't think the frontend itself uses it at all anyway.

[2011-08-02 12:36] garrett commented on #30
Perhaps at the top. I was already thinking about this.

[2011-08-02 12:36] cthiel commented on #29
Right :)

[2011-08-02 12:37] cthiel commented on #29
There is actually one frontend usage, if there is _Q in code, the headline will be lighter.

[2011-08-02 12:39] cthiel commented on #30
Yep, put it wherever it makes sense :)

[2011-08-02 13:08] #29 closed, assigned to cthiel

[2011-08-02 13:08] #20 closed, assigned to cthiel

[2011-08-02 16:30] #17 closed, assigned to cthiel

[2011-08-02 16:33] cthiel commented on #18
@garrett and @bear454, do you guys think we still need this with the latests markdown changes?

[2011-08-02 18:17] bear454 commented on #28
Working on that right now...

[2011-08-02 18:18] bear454 commented on #18
IMO, we need to keep it as generic and simple as possible.  URLs via markdown solves this without any further complexity.

[2011-08-02 18:18] #18 closed, assigned to cthiel

[2011-08-02 18:25] cthiel commented on #18
That makes sense. However, we should make the markdown editing easier. Think WYSIWYG?

[2011-08-02 18:26] cthiel opened #31 "Rename Models"
We should rename stories to cards (in the backend) and maybe project to board.

[2011-08-02 18:27] cthiel commented on #31
Not sure if Statuses should stay the same or be called column?

[2011-08-02 18:28] cthiel opened #32 "WYSIWYG editing for Markdown?"
How about WYSIWYG editing for Markdown a la http://markitup.jaysalvat.com/home/?

[2011-08-02 18:29] bear454 commented on #31
Story => Card
Status => Pile/Set
Project => Board

On Tue, Aug 2, 2011 at 11:26 AM, cthiel <
reply@reply.github.com>wrote:

[2011-08-02 18:30] bear454 commented on #32
Meh ;)  I'm not going to implement one... they all look yucky.  I'd rather just show people a few basic markdown concepts, and link to the rest (like we do on studio)... its pretty natural.

[2011-08-02 18:30] cthiel commented on #31
Status => Deck?

[2011-08-02 18:31] cthiel commented on #31
Or Batch?

[2011-08-02 18:32] bear454 commented on #31
I like Deck, since their cards, but that's just me ;)

On Tue, Aug 2, 2011 at 11:31 AM, cthiel <
reply@reply.github.com>wrote:

[2011-08-02 18:34] bear454 commented on #10
The tomboy icon?  It's already got an easy license

[2011-08-02 18:41] bear454 commented on #11
Drag doesn't seem to work on my Android devices either.  It looks like the ul is getting focus of the press.  No auto-refresh either :/

[2011-08-02 19:15] cthiel commented on #10
You were thinking of http://projects.gnome.org/tomboy/images/tomboy-128.png? @garrett, views?

[2011-08-02 19:18] cthiel commented on #10
Fixed in commit f82db75c2273f434fe60

[2011-08-02 19:23] cthiel opened #33 "Sprockets::FileNotFound: couldn't find file 'jquery.editable'"
jquery.editable seems to be missing from git.

[2011-08-02 19:25] bear454 commented on #14
I like the idea of multiple boards in one app.. i.e. etherpad.

[2011-08-02 19:26] bear454 commented on #15
I'm going to work on nailing down the UI simplicity I've already committed to ;)

But I suppose its a decent option for getting some bulk data in.

[2011-08-02 19:27] cthiel opened #34 "Should we remove tagging?"
I think we can remove tagging with the markdown support. The removing migration needs to add existing tags to the name.

[2011-08-02 19:27] bear454 commented on #24
I'm thinking acts_as_list on the columns/piles/decks...

[2011-08-02 19:27] cthiel commented on #15
It doesn't have to be CSV -- maybe just as simple as adding a textfile and treat each line as story?

[2011-08-02 19:28] cthiel commented on #24
Sounds like an option!

[2011-08-02 19:28] bear454 commented on #33
Oops... over-committed.

[2011-08-02 19:28] bear454 commented on #33
Pushed.

[2011-08-02 19:28] #33 closed, assigned to nobody

[2011-08-02 19:29] cthiel commented on #14
By default it should just show one board, but having multiple boards has been requested from an unnamed user today :)

[2011-08-02 19:29] bear454 commented on #34
Lets keep tagging for now... I _really like_ the idea of a simple visual tag filter.

[2011-08-02 19:29] #34 closed, assigned to nobody

[2011-08-02 19:31] #32 closed, assigned to nobody

[2011-08-02 19:34] bear454 commented on #27
And CSV.

[2011-08-02 19:34] #15 closed, assigned to nobody

[2011-08-02 19:35] bear454 commented on #15
This is a subset of issue 27.

[2011-08-02 20:22] garrett commented on #14
The multiple board model, similar to Etherpad, would be nice

[2011-08-02 20:26] #31 closed, assigned to cthiel

[2011-08-02 20:26] cthiel commented on #31
Pushed.

[2011-08-02 20:28] garrett commented on #10
No, we'd want to make use of a 16x16 icon for the favicon.

We _could_ cobble together multiple sizes in the Gimp.

I've taken the liberty to extract all the tomboy icons and toss them up on a dropbox public folder:
http://dl.dropbox.com/u/116444/tomboy/index.html

[2011-08-02 20:33] bear454 commented on #31
GAH

We're both working on the same thing!

[2011-08-02 20:35] cthiel commented on #31
Arrg, sorry :( I thought this was assigned to me. It all in master now.

[2011-08-02 20:35] garrett commented on #10
Okay, dropbox is sloooooow right now. Here's an alternate:
http://linuxart.com/temp/tomboy-icons/

[2011-08-02 20:36] cthiel commented on #10
http://linuxart.com/temp/tomboy-icons/hicolor_actions_22x22_filter-note-unfiled.png would be kind of funny to use as an icon :)

[2011-08-02 20:37] garrett commented on #32
Yes, Markdown! I'm a fan. :+1:

[2011-08-02 20:38] garrett commented on #18
Are we supporting vanilla Markdown or a flavor, like GitHub's extended version? I guess whatever's in a Ruby Gem? Or are we using Markdown.js too? (:

[2011-08-02 20:39] garrett commented on #10
That's not a 16x16 icon though! (:

[2011-08-02 20:39] garrett commented on #10
...and before you ask: no, you cannot just simply scale it in the Gimp. (;

[2011-08-02 20:42] garrett commented on #11
Auto-refresh works on my iPad. The touch events do not, however. If I fix it for one, I'll probably fix it for all. I haven't checked it out on my Android phone yet.

[2011-08-02 21:00] cthiel commented on #10
http://linuxart.com/temp/tomboy-icons/hicolor_apps_16x16_tomboy.png is probably the best bet then!

[2011-08-02 21:07] garrett commented on #10
Yup. I think so, unless you want the one w/ a star! (:

[2011-08-02 21:08] garrett commented on #10
We could rename to StarredBoard (;

[2011-08-02 21:08] garrett commented on #10
Oh, also I'm on G+ if you want to video chat (or just audio chat if you're without a camera)

[2011-08-02 21:09] cthiel commented on #10
Let's go for the one without the star! I don't want to do yet another rename :(

[2011-08-02 21:36] cthiel opened #35 "Links on cards should always target new window"

[2011-08-02 21:41] cthiel opened #36 "Printing support"
Either through CSS or export to PDF.

[2011-08-02 23:16] bear454 commented on #18
Not relying on ruby at all... just rendering it in js using showdown.js

On Tue, Aug 2, 2011 at 1:38 PM, garrett <
reply@reply.github.com>wrote:

[2011-08-02 23:23] bear454 commented on #28
Rename/recolor is done.

[2011-08-03 01:15] garrett commented on #18
Awesome :+1:

[2011-08-03 02:06] garrett opened #37 "Column lines don't currently extend down the whole page"
The column lines should travel all the way down to the bottom of the document. We _may_ have to handle this in JavaScript, bound to load (well, the table display) & resize events.

[2011-08-03 02:08] garrett commented on #35
Fixed in commit 75084307e8e4bbff89ce

[2011-08-03 02:08] #35 closed, assigned to garrett

[2011-08-03 09:50] garrett opened #38 "Easier install & update"
Can we make installation and updating easier? It should ideally be one command that's ran for each. It could even be the same command.

[2011-08-03 09:52] garrett opened #39 "Update Heroku demo more frequently"
With our crazy fast-paced development, we should update http://card-board.herokuapp.com/ more frequently. (:

[2011-08-03 09:53] garrett commented on #10
It looks like it's working for me.

[2011-08-03 09:53] #10 closed, assigned to garrett

[2011-08-03 09:54] cthiel commented on #39
Just did that :)

[2011-08-03 09:55] garrett commented on #30
I added a top bar with the title as a place to manage this stuff.

Ideally, the title should be able to be customized under a "settings" area somehow (or perhaps by double-clicking). When we have settings, the title should be on the left, not center... and settings should be on the right.

[2011-08-03 09:56] cthiel commented on #10
Did you actually change the icon? Or is this still the icon @bear454 put in? Maybe it's identical?

[2011-08-03 09:57] cthiel commented on #30
I'll add the multi-board support today, so we can even customize the name of the board that is currently displayed.

[2011-08-03 09:58] cthiel commented on #39
I can also add you as collaborator on heroku, so you guys can push to there as well. Do you have accounts @ heroku?

[2011-08-03 10:00] garrett commented on #10
I didn't change it. It's a 16x16 Tomboy icon, so I consider that good enough for now. We may add multiple sizes in the future.

[2011-08-03 10:01] garrett commented on #30
Awesome.

I think double-clicking makes sense here. It's how you interact with the rest of the board.

[2011-08-03 10:04] garrett commented on #39
I just signed up w/ my gmail address.

[2011-08-03 10:04] cthiel commented on #10
Great! We should at least add icons for iOS, so it displays nicely on the home screen :)

[2011-08-03 10:07] garrett opened #40 "Update blurb"
The blurb at the top of the repo should be updated to be more in line with cardboard's more generic (non-kanban-specific) goals. Right now, the readme states that cardboard is "A simple web-based card grouping application with a bit of collaboration". Perhaps that would be good for the blurb?

[2011-08-03 10:08] garrett commented on #10
Okay. I think we can consider that a related, but different bug. (:

..or I can just add it to the iPadification bug.

[2011-08-03 10:09] garrett commented on #11
This should include @cthiel's suggestion of adding icons for iOS, so it displays nicely on the home screen.

[2011-08-03 10:37] cthiel commented on #39
OK, I added both of you as collaborator. Heroku should have sent you an email.

See http://devcenter.heroku.com/articles/sharing and http://devcenter.heroku.com/articles/collab for further details. You'll also need run `sudo gem install heroku`, to get going... If you need further assistance, let me know.

[2011-08-03 10:37] #39 closed, assigned to nobody

[2011-08-03 11:51] garrett commented on #27
We can use a data URI to export the data from the client-side of things, which would be a good idea anyway, as we want to eventually have offline support. (I imagine the offline support would simply store & retrieve this same data structure.)

The data structure could be something like:

[code]

Essentially, the same format that we're using, but combine the two JSON requests into one object.

I al

[2011-08-03 11:58] garrett commented on #27
Also: What would the CSV look like? I guess it would be something like:

[code]

Basically, the header would be included in every row, and tags would be included if they exist.

Should we prefix each line with the board title too? It would be for multi-board support. Otherwise, we could just make it overwrite the current board, or generate a new board name that they could change. (I think the gene

[2011-08-03 13:07] garrett opened #41 "Proper inline editing"
Right now, we're using dialogs. I think the cards should be edited inline, or as close to it as possible.

[2011-08-03 13:10] garrett commented on #41
This means we'll have to figure out how to deal w/ the tags, a save/cancel button, etc.

[2011-08-03 14:00] cthiel opened #42 "Starting a card with a number breaks markdown"
If I put something like

"20. try this out"

into a card, it will be displayed as

"1. try this out"

and also indented. We should fix this :)

[2011-08-03 14:01] cthiel opened #43 "Enable deleting cards?"
How do we want to handle deleting cards? With a link/button from the edit view?

[2011-08-03 14:07] garrett commented on #43
- We should have an (X) icon on hover.
- No confirmation dialog.
- We should have undo, in case it really was an accident.
- Undo would show up in the status area.
- The status area is the "titlebar" at the top... in the center.. where "CardBoard" is now. The title would move to the left and more global actions would show up on the right. Navigation would also be in the title area, next to the tit

[2011-08-03 14:09] garrett commented on #42
It's not a bug, that's how markdown does numbered lists.
1. one
2. one
3. three

^ I used 1. 1. 3. for the beginning parts.

If you want a number, try this:

20: try this out

[2011-08-03 14:12] cthiel commented on #42
Well, "20: try this out" works -- however, this still feels kind of broken :) I know of a cardboard that has like 140 cards on it, each of them starts with "somenumber(dot) title", which all looks like "1. title" in the latests version.

[2011-08-03 16:11] garrett commented on #42
Oh, is that one of the _important_ carboards?

Perhaps the solution is to disable markdown for the first line and run it on the rest?

[2011-08-03 21:13] cthiel commented on #42
That's what I was suggesting :) Always make the first line bold and run the rest through markdown?

[2011-08-03 21:24] garrett commented on #42
Yeah, I think that could work. The only issue I can think of is that the first line will be an orphan and the next line will have a &lt;p&gt;. At least, I'm pretty sure that's what would happen. I suppose we can prepend the first line into the markdown block (or we'd have to play w/ strings).

I'll fiddle with it.

[2011-08-03 23:41] garrett commented on #27
I have downloading JSON working locally.

However, it doesn't set the filename. There's unfortunately no way to do this with pure JS in the browser. There's a JS lib + Flash object that makes it possible @ https://github.com/dcneiner/Downloadify ... or we could rely on the server (which means the feature wouldn't be available for offline use, unless we have an offline mode that falls back to eithe

[2011-08-04 00:08] garrett commented on #36
+1 for CSS, not PDF. If people _really want_ PDF, they can print the page
to a PDF.

We can control the content enough w/ CSS.

[2011-08-04 09:31] cthiel commented on #36
Sounds good!

[2011-08-04 11:58] mistinie commented on #36
through CSS makes sense

[2011-08-04 23:13] bear454 commented on #28
Addition is done.

[2011-08-05 02:20] bear454 commented on #28
Remove is done.

[2011-08-05 02:20] #28 closed, assigned to nobody

[2011-08-05 16:19] cthiel commented on #40
Done.

[2011-08-05 16:19] #40 closed, assigned to cthiel

[2011-08-05 16:22] cthiel commented on #24
@bear454, do you want to take care of also making card ordering persistant? It would be very useful, I think!

[2011-08-05 16:24] cthiel commented on #27
Let's just move the exporting to the backend.

I was also thinking about this feature a bit more: maybe we should introduce UUIDs for Cards? That would enable use to move them back and forth between boards and make merging changes easier. What do you think?

[2011-08-05 16:25] cthiel commented on #41
We already include jquery editable. But I don't think we use anywhere?

[2011-08-05 16:39] garrett commented on #27
Yeah, that's probably a good idea.

I think we should still have a _fallback_ JSON export w/ copy/paste for offline mode, as that's when you need export the most! Of course, we'd need offline support and an offline mode too. (;

But the primary import/export should be handled by the server, evidently.

[2011-08-05 16:40] garrett commented on #41
If that's rich text editing, we should nuke it. I prefer the simplicity of Markdown.

[2011-08-05 16:50] cthiel commented on #41
It's inline-editing, IIUC. Have you seen how Github Wikis work with Markdown? They have nice helpers for Markdown. We should have something similar.

[2011-08-05 17:45] garrett commented on #41
GitHub's wiki stuff looks nice, but I _really_ think it's overkill for what we want to do with CardBoard. In fact, I think we should have _less_ UI (when editing & adding cards, columns, etc.)... not more.

[2011-08-05 17:46] garrett commented on #41
When you add a new card, it automatically adds it, and puts it into edit mode. When you add a new column, it does the same. No dialogs.

When you edit either, same thing: inline editing. No dialogs.

I consider the dialogs mostly a placeholder until we get this implemented. Not entirely sure what to do about tags just yet, though.

[2011-08-05 17:46] garrett commented on #41
Also, the dropdown goes away. You want your card in another column? Move it. (:

[2011-08-07 08:52] garrett opened #44 "Undo (& redo?)"
We should report undo and redo. This would be really useful especially for destructive changes (removing cards, columns, etc.)

[2011-08-07 08:52] garrett commented on #43
I just added card deletions in master. (I wrote it on the train.) It seems to work pretty well.

_However_, when we delete the card with a HTTP DELETE, it is successful, but Ruby returns an error (even though it works).

Also, I don't have undos implemented yet, but I think I could store each revision in an array and roll back and forward. This would work at least during the session and be pretty

[2011-08-07 08:57] garrett commented on #43
I opened issue #44 for undo/redo support.

[2011-08-07 08:57] garrett commented on #44
From issue #43:
- We should have undo, in case it really was an accident.
- Undo would show up in the status area at the top, when applicable. (I'm not sure if we really want a redo, or how many levels we should undo. Is one enough, or should we have more?)

[2011-08-07 08:58] garrett commented on #44
Note: There's also versioning support on the server too, in issue #17 (closed)

[2011-08-07 09:03] garrett opened #45 "Deck animation"
I've quickly ported the deck animation patch on top of master and put it in a branch:
https://github.com/cthiel/cardboard/tree/deckanimate

Whether the implementation is like the patch or different, we should have better deck animations.

Anyway, this is a place to play with it before merging to master.

Unfortunately, right now, the changes break the rendering of the board. I haven't looked into

[2011-08-07 09:05] garrett commented on #42
I split out the titles so that they're outside of markdown (and the complete title is bold, instead of just the first line).

Done in commits 4c864e136c4c37ea3a93f1be003b8012826dd37f and 9346d350cef453d014483cf6e565a14e5474f7e5 (a bugfix for newlines in markdown).

[2011-08-07 09:05] #42 closed, assigned to nobody

[2011-08-07 10:35] garrett commented on #22
I added a really simple notification in commit 9dbcefab6e371983f177 and then added simple offline/online notification support in commit 9df3ecaec06df0411d86.

[2011-08-07 10:35] #22 closed, assigned to nobody

[2011-08-07 11:34] cthiel commented on #43
I know what causes the server to return an error. Caching is broken when deleting cards. I'll look into fixing this soon.

[2011-08-07 11:35] cthiel commented on #44
We should use the versioning on the server-side to provide the undo. Or where you thinking of doing it all client-side?

[2011-08-07 13:14] garrett commented on #44
The versioning should definitely be handled by the server, but I think it's pretty easy and quick to have local client-side undos. Reloading the page would break the undos, but it's mainly to handle the case of deleting the cards, so I think it's probably the right approach.

If we implement undos this way, then rollbacks would include the intermediate state (which I think is fine).

[2011-08-08 14:06] garrett commented on #37
Fixed with commit 0ba9fec30512bc0cb5223c8fbd3956c4a5adfda3

[2011-08-08 14:06] #37 closed, assigned to garrett

[2011-08-08 15:35] garrett opened #46 "rendering glitch when adding new deck"
When there's a new deck, the deck columns are messed up (duplicated, even).

[2011-08-08 15:36] garrett opened #47 "rendering glitch when adding new deck"
When there's a new deck, the deck columns are messed up (duplicated, even).

[2011-09-02 07:15] #47 closed, assigned to garrett

[2011-09-02 07:16] garrett commented on #11
We could switch everything to "touch" support and use this library, and things would be consistent:
https://github.com/davidcalhoun/touche

(Alternatively, we could simply bind functions to multiple events.)

[2011-09-06 08:34] bkutil opened #48 "Log card history"
Ability to see the action history, .i.e. seeing in what deck the card has been a week before (or whatever the sprint duration is). Use case would be using the cards to track progress and generate status updates.

[2011-09-06 08:36] bkutil opened #49 "Plaintext export"
It would be nice to be able to export the board in plain text format, like:

Date of the export.

State1
  -> Card title
       Card description
State2
  -> Card title
       Card description
...

Again, use case is generating reports from the board.

[2011-09-06 08:39] cthiel commented on #48
The backend already supports this, as we are keeping every version of cards + decks using the paper_trail gem. We just need to make it visible in the UI. Garrett, do you have an idea for this?

[2011-09-06 09:39] garrett commented on #48
Perhaps we should have a timeline mode, like Etherpad.

It would allow you to rollback to various states, but only as read-only.

(From there, if one wanted to _really_ rollback, they could then blast away the current state with the old one. It's questionable, however... I think it would simply copy & overwrite the state, preserving history. That is, _if_ we decide that this would actually be a fe

[2011-09-06 09:43] bkutil commented on #48
Imho it's not important for the history to be 'rewritable', only to be able to 'view' or access the state in a previous point in time, so you can easily see the what the item state was back then.The timeline slider would make sense, with the item in previous time being opaque and not editable?

[2011-09-06 09:45] garrett commented on #49
We pretty much have the data almost like that already, if you remove most of the CSS. Try printing (to a PDF) to see what I mean.

(That is, unless this has changed. Last I checked, it mostly worked. We'll want proper print support, with a real print.css. See issue #36 for print support.)

For strictly plain text output, we should be able to easily do this, especially since the text is written in

[2011-09-06 09:53] garrett commented on #48
Yeah, the rewritable history was just a related thought. I'm not so sure about having it, hence the _if_.  (:

It should be enough to just browse the history. (I don't think people will need to "check out" older versions for their current history, in other words.)

Right, I think a read-only timeline approach is what's right for this.

[2011-09-06 11:38] bkutil opened #50 "Webhooks"
Adding webhooks to certain actions in cardboard would allow us to 'chain' cardboards. Example:

1. I'm using cardboard for tracking my personal actions, or working with my coworkers on a sub-project.

2. My manager uses cardboard for tracking progress of several such projects / work of several people.

3. By pointing my webook URL to his cardboard instance, he can instantly see whenever I or my co

[2011-09-07 20:59] garrett commented on #46
Fixed in commit 9f7c99377394b55f96b177c7b9fac6bb22be452a

[2011-09-07 20:59] #46 closed, assigned to garrett

[2011-09-14 08:57] cthiel commented on #24
I prepared for this in commit 9f821aacf84372255bc65dd3e9eb373d3ff7dacd

@garrett, please see the comment I added to the commit.

[2011-09-14 22:06] cthiel commented on #14
https://github.com/cthiel/cardboard/commit/f6290f0d5f62cc87152799039757db2156d182ba is moving into this direction -- however we still need to fix all the JS in that branch. @garrett, let's talk about this tomorrow, if possible.

[2011-09-19 09:36] cthiel commented on #24
Let's fix this correctly :)

[2012-02-09 22:14] prasoonsharma commented on #24
When will this be implemented? Waiting eagerly :)

[2012-03-03 17:46] cthiel commented on #24
This is now implemented.

[2012-03-03 17:46] #24 closed, assigned to garrett

[2016-01-04 07:47] #50 closed

[2016-01-04 07:48] #49 closed

[2016-01-04 07:48] #48 closed

[2016-01-04 07:48] #13 closed